@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.sidebar__block-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  overflow-y: scroll;
  max-height : 65%;
}

.sidebar__block-container::-webkit-scrollbar {
  width: 0; 
}

.sidebar__block-container p {
  margin-bottom: 15px;
}

.sidebar {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}
.sidebar__block {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sidebar__title {
  font-family: 'Georama', sans-serif;
  font-weight: 600;
  font-size: 40px;
  width: 35%;
  text-align: center;
  transition: .3s;
  cursor: pointer;
  padding: 20px;
  color: #fff;
  user-select: none; 
}

.sidebar__title:hover {
  font-size: 44px;
}

.sidebar__desc {
  font-family: 'Georama', sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 3px;
  user-select: none; 
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  max-height: 65%;
  overflow-y: hidden;
  padding: 40px 10px;
  border-radius: 20px;
  width: 33%;
  text-align: center;
  margin-right: 22%;
  color: #fff;
  background-color: rgb(155, 155, 155, 0.5);
}



.sidebar__img {
  width: 100%;
  height: 25vh;

  margin-bottom: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main {
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
  transition: all 0.5s ease-in-out;
  clip-path: polygon(35% 400%, 35% 0px, 400% 0px, 400% 400%, 0px 400%)
}

.main__slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100%;
  width: 100%;
  clip-path: polygon(35% 100%, 35% 0px, 100% 0px, 100% 100%, 0px 100%);
  transition: all .5s ease-in-out;
}

.main__slide.active {
  transform: translateX(50%);
}

button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
}

.container .controls button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}

.container .controls .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.container .controls .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
